<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meow-lose_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{0,0},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{245,0},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{735,283},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{980,283},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{1225,283},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{1470,283},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{0,566},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{245,566},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{490,566},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{735,566},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{980,566},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{1225,566},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{490,0},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{1470,566},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{0,849},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{245,849},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{490,849},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{735,849},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{980,849},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{1225,849},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{1470,849},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{0,1132},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{245,1132},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{735,0},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{490,1132},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{735,1132},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{980,1132},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{1225,1132},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{1470,1132},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{0,1415},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{245,1415},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{490,1415},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{735,1415},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{980,1415},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{980,0},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{1225,1415},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{1225,0},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{1470,0},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{0,283},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{245,283},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meow-lose_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,283}</string>
                <key>spriteSourceSize</key>
                <string>{245,283}</string>
                <key>textureRect</key>
                <string>{{490,283},{245,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cf_TP4.png</string>
            <key>size</key>
            <string>{1715,1698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab57f05053f834daa91efea3ba441b44:b32ca002e2e3873d2fb4eba7f2d957dc:f2f0ad9471d5f4eeeab02a6f5e8cb5ed$</string>
            <key>textureFileName</key>
            <string>cf_TP4.png</string>
        </dict>
    </dict>
</plist>
