<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,194}</string>
                <key>spriteSourceSize</key>
                <string>{192,194}</string>
                <key>textureRect</key>
                <string>{{117,600},{192,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ButtonSave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,58}</string>
                <key>spriteSourceSize</key>
                <string>{105,58}</string>
                <key>textureRect</key>
                <string>{{97,0},{105,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_SFX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,92}</string>
                <key>spriteSourceSize</key>
                <string>{401,92}</string>
                <key>textureRect</key>
                <string>{{0,1525},{401,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,119}</string>
                <key>spriteSourceSize</key>
                <string>{379,119}</string>
                <key>textureRect</key>
                <string>{{0,1617},{379,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_fire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,213}</string>
                <key>spriteSourceSize</key>
                <string>{234,213}</string>
                <key>textureRect</key>
                <string>{{0,794},{234,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_fire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,213}</string>
                <key>spriteSourceSize</key>
                <string>{234,213}</string>
                <key>textureRect</key>
                <string>{{234,794},{234,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_fire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,213}</string>
                <key>spriteSourceSize</key>
                <string>{234,213}</string>
                <key>textureRect</key>
                <string>{{0,1007},{234,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_fire4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,213}</string>
                <key>spriteSourceSize</key>
                <string>{234,213}</string>
                <key>textureRect</key>
                <string>{{234,1007},{234,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_fire5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,213}</string>
                <key>spriteSourceSize</key>
                <string>{234,213}</string>
                <key>textureRect</key>
                <string>{{0,1220},{234,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_fire6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,213}</string>
                <key>spriteSourceSize</key>
                <string>{234,213}</string>
                <key>textureRect</key>
                <string>{{234,1220},{234,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_meo_boom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,105}</string>
                <key>spriteSourceSize</key>
                <string>{136,105}</string>
                <key>textureRect</key>
                <string>{{0,111},{136,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_meo_non.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,111}</string>
                <key>spriteSourceSize</key>
                <string>{113,111}</string>
                <key>textureRect</key>
                <string>{{202,0},{113,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_meo_sad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,110}</string>
                <key>spriteSourceSize</key>
                <string>{119,110}</string>
                <key>textureRect</key>
                <string>{{315,0},{119,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_mui_ten_caidat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,19}</string>
                <key>spriteSourceSize</key>
                <string>{14,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,92}</string>
                <key>spriteSourceSize</key>
                <string>{401,92}</string>
                <key>textureRect</key>
                <string>{{0,1433},{401,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ruong_tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,51}</string>
                <key>spriteSourceSize</key>
                <string>{61,51}</string>
                <key>textureRect</key>
                <string>{{36,0},{61,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_smoke1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,163}</string>
                <key>spriteSourceSize</key>
                <string>{119,163}</string>
                <key>textureRect</key>
                <string>{{0,270},{119,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_smoke10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,159}</string>
                <key>spriteSourceSize</key>
                <string>{117,159}</string>
                <key>textureRect</key>
                <string>{{370,111},{117,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_smoke11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,167}</string>
                <key>spriteSourceSize</key>
                <string>{117,167}</string>
                <key>textureRect</key>
                <string>{{0,600},{117,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_smoke12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,163}</string>
                <key>spriteSourceSize</key>
                <string>{119,163}</string>
                <key>textureRect</key>
                <string>{{119,433},{119,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_smoke2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,159}</string>
                <key>spriteSourceSize</key>
                <string>{117,159}</string>
                <key>textureRect</key>
                <string>{{136,111},{117,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_smoke3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,167}</string>
                <key>spriteSourceSize</key>
                <string>{117,167}</string>
                <key>textureRect</key>
                <string>{{238,433},{117,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_smoke4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,163}</string>
                <key>spriteSourceSize</key>
                <string>{119,163}</string>
                <key>textureRect</key>
                <string>{{119,270},{119,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_smoke5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,163}</string>
                <key>spriteSourceSize</key>
                <string>{119,163}</string>
                <key>textureRect</key>
                <string>{{238,270},{119,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_smoke6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,159}</string>
                <key>spriteSourceSize</key>
                <string>{117,159}</string>
                <key>textureRect</key>
                <string>{{253,111},{117,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_smoke7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,167}</string>
                <key>spriteSourceSize</key>
                <string>{117,167}</string>
                <key>textureRect</key>
                <string>{{355,433},{117,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_smoke8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,163}</string>
                <key>spriteSourceSize</key>
                <string>{119,163}</string>
                <key>textureRect</key>
                <string>{{357,270},{119,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_smoke9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,163}</string>
                <key>spriteSourceSize</key>
                <string>{119,163}</string>
                <key>textureRect</key>
                <string>{{0,433},{119,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_tay_thiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,271}</string>
                <key>spriteSourceSize</key>
                <string>{247,271}</string>
                <key>textureRect</key>
                <string>{{0,1736},{247,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_tayden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,271}</string>
                <key>spriteSourceSize</key>
                <string>{248,271}</string>
                <key>textureRect</key>
                <string>{{247,1736},{248,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_xu_dat_cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{14,0},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cf_TP2.png</string>
            <key>size</key>
            <string>{495,2007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55e98bdcce02cf295658b1ba2764f5c7:562fdb113bfa054bcb32d2e49cd3ddee:3f26a0ff7a86704c7c1f27b2efac3022$</string>
            <key>textureFileName</key>
            <string>cf_TP2.png</string>
        </dict>
    </dict>
</plist>
